<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UsersList</title>
</head>
<body>
<th:block th:include="/_menu">Menu</th:block>
<h1>This is admins page</h1>
<h1>Here is actual all Users data:</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Password(encrypted)</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.Id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.roles}"></td>
        <td>
                <a href="" th:href="@{'/admin/edit/' + ${user.id}}">Edit</a>
            </td>
            <td>
                <a href="" th:href="@{'/admin/deleteConfirm/' + ${user.id}}">Delete</a>
            </td>
        <td th:text="${user.password}"></td>
    </tr>
</table>

<h2>
    <a th:href="@{/admin/addNewUserForm}">Add new User</a>
</h2>

</body>
</html>