<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:type="http://www.w3.org/1999/xhtml">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<style>
    html, body, .container-fluid, .row {
        height: 100%;
    }
</style>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu">Menu</th:block>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-2 bg-white text-dark">
            <div class="nav flex-column nav-pills pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-admin-tab" data-toggle="pill"
                   href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="false">ADMIN</a>
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" id="v-pills-user-tab" data-toggle="pill"
                   href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true">USER</a>
            </div>
        </div>

        <div class="col-md-10 bg-light text-dark">
            <div class="tab-content my-3 mx-3" id="v-pills-tabContent">

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active m-3" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                    <h1> Admin panel </h1>
                    <nav>
                        <div class="nav nav-tabs active" id="nav-tab" role="tablist">
                            <a class="nav-link active bg-white" id="nav-users-table-tab" data-toggle="tab"
                               href="#nav-users-table" role="tab" aria-controls="nav-users-table" aria-selected="true">Users
                                Table</a>
                            <a class="nav-link bg-white" id="nav-new-user-tab" data-toggle="tab" href="#nav-new-user"
                               role="tab" aria-controls="nav-new-user" aria-selected="false">New user</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-users-table" role="tabpanel"
                             aria-labelledby="nav-users-table-tab">
                            <div class="container-fluid">
                                <div class="row my-2">
                                    <div class="col-md-10 bg-light text-dark">
                                        <h3> All users </h3>
                                        <table class="table table-striped">
                                            <tr>
                                                <th scope="col">id</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Roles</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            <tr th:each="user : ${usersList}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.username}"></td>
                                                <td th:text="${user.firstName}"></td>
                                                <td th:text="${user.lastName}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.roles}"></td>
                                                <td><a th:href="@{#}" type="button" class="btn btn-info editButton"
                                                       data-toggle="modal" data-target="#editUserModal"
                                                       th:attrappend="data-target=${user.id}">Edit</a></td>


                                                <!-- EDIT-->

                                                <div class="modal fade" id="editUserModal" role="dialog"
                                                     th:attrappend="id=${user.id}">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>

                                                            </div>
                                                            <div class="modal-body">

                                                                <!--Form code start from here  -->
                                                                <!-- Form Name -->
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-7 mx-auto text-center form">
                                                                            <h2>Edit user</h2>
                                                                            <form class="form-horizontal" action="#"
                                                                                  th:action="@{/update}" method="post">
                                                                                <fieldset>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="id">id</label>
                                                                                        <div>
                                                                                            <input id="id" name="id"
                                                                                                   type="text"
                                                                                                   placeholder="id"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.id}"
                                                                                                   readonly>

                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="username">Username</label>
                                                                                        <div>
                                                                                            <input id="username"
                                                                                                   name="username"
                                                                                                   type="text"
                                                                                                   placeholder="username"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.username}"
                                                                                            >
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="firstName">First
                                                                                            Name</label>
                                                                                        <div>
                                                                                            <input id="firstName"
                                                                                                   name="firstName"
                                                                                                   type="text"
                                                                                                   placeholder="firstName"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.firstName}"
                                                                                            >
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="lastName">Last Name
                                                                                        </label>
                                                                                        <div>
                                                                                            <input id="lastName"
                                                                                                   name="lastName"
                                                                                                   type="text"
                                                                                                   placeholder="lastName"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.lastName}"
                                                                                            >
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="age">Age
                                                                                        </label>
                                                                                        <div>
                                                                                            <input id="age" name="age"
                                                                                                   type="number"
                                                                                                   placeholder="age"
                                                                                                   class="quantity"
                                                                                                   th:value="${user.age}"
                                                                                            >
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="email">email</label>
                                                                                        <div>
                                                                                            <input id="email"
                                                                                                   name="email"
                                                                                                   type="text"
                                                                                                   placeholder="email"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.email}"
                                                                                            >
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="password">Password</label>
                                                                                        <div>
                                                                                            <input id="password"
                                                                                                   name="password"
                                                                                                   type="password"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.password}"
                                                                                            >
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="custom-control custom-switch" th:each="role : ${allRoles}">
                                                                                        <input class="custom-switch-sm" type="checkbox" th:name="${role.name}" th:id="${role.id}" th:value="${role.id}" id="a1"/>
                                                                                        <label for="a1" class="custom-switch-sm" th:text="${role.name}"></label>
                                                                                    </div>


                                                                                    <!-- Button -->
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-4 control-label"
                                                                                               for="submit"></label>
                                                                                        <div class="col-md-4">
                                                                                            <button id="submit"
                                                                                                    name="submit"
                                                                                                    class="btn btn-primary">
                                                                                                Submit
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>

                                                                                </fieldset>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>


                                                <td><a class="btn btn-danger" th:href="@{#}" data-toggle="modal"
                                                       data-target="#deleteUserModal"
                                                       th:attrappend="data-target=${user.id}">Delete</a></td>

                                                <div class="modal fade" id="deleteUserModal" role="dialog"
                                                     th:attrappend="id=${user.id}">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>

                                                            </div>
                                                            <div class="modal-body justify-content-center">

                                                                <!--Form code start from here  -->
                                                                <!-- Form Name -->
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-7 mx-auto text-center form">
                                                                            <h2>Delete user</h2>
                                                                            <form class="form-horizontal justify-content-center"
                                                                                  action="#"
                                                                                  th:action="@{'/delete/' + ${user.id}}">
                                                                                <fieldset>

                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="id">id</label>
                                                                                        <div>
                                                                                            <input id="id" name="id"
                                                                                                   type="text"
                                                                                                   placeholder="id"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.id}"
                                                                                                   readonly>

                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="username">Username</label>
                                                                                        <div>
                                                                                            <input id="username"
                                                                                                   name="username"
                                                                                                   type="text"
                                                                                                   placeholder="username"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.username}"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="firstName">First
                                                                                            Name</label>
                                                                                        <div>
                                                                                            <input id="firstName"
                                                                                                   name="firstName"
                                                                                                   type="text"
                                                                                                   placeholder="firstName"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.firstName}"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="lastName">Last Name
                                                                                        </label>
                                                                                        <div>
                                                                                            <input id="lastName"
                                                                                                   name="lastName"
                                                                                                   type="text"
                                                                                                   placeholder="lastName"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.lastName}"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="age">Age
                                                                                        </label>
                                                                                        <div>
                                                                                            <input id="age" name="age"
                                                                                                   type="text"
                                                                                                   placeholder="age"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.age}"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="email">email</label>
                                                                                        <div>
                                                                                            <input id="email"
                                                                                                   name="email"
                                                                                                   type="text"
                                                                                                   placeholder="email"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.email}"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input-->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="password">Password</label>
                                                                                        <div>
                                                                                            <input id="password"
                                                                                                   name="password"
                                                                                                   type="password"
                                                                                                   class="form-control input-md"
                                                                                                   th:value="${user.password}"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Button -->
                                                                                    <div class="form-group">
                                                                                        <label class="control-label"
                                                                                               for="submit"></label>
                                                                                        <div>
                                                                                            <button id="submit"
                                                                                                    name="delete"
                                                                                                    class="btn btn-danger">
                                                                                                Delete
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>

                                                                                </fieldset>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>


                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">
                            <div class="container-fluid">
                                <div class="row my-2">
                                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-md-10 bg-light text-dark">
                                        <h2> Add new user </h2>

                                        <!--Add new user block-->
                                        <th:block th:include="/_newUserBlock">Add new</th:block>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade m-3" id="v-pills-user" role="tabpanel"
                     aria-labelledby="v-pills-user-tab">
                    <h1> User information-page </h1>
                    <div class="container border">
                        <div class="row my-2">
                            <div class="col-md-10 bg-light text-dark">
                                <h3> About user </h3>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span sec:authentication="principal.firstName"></span></td>
                                        <td><span sec:authentication="principal.lastName"></span></td>
                                        <td><span sec:authentication="principal.username"></span></td>
                                        <td><span sec:authentication="principal.age"></span></td>
                                        <td><span sec:authentication="principal.email"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
