<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>

</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>


<h2>User Info Page</h2>
<h3>Welcome, <span th:utext="${#request.userPrincipal.name}"></span>!</h3>
<b>This is protected page</b>

<br/><br/>
<h4>Here's your Data, <span th:if="${user.firstName != null}" th:utext="${user.firstName}"></span>:</h4>

<br>

<table>
    <style>
        table th, table td {
            padding: 5px;
        }

        .row {
            front-style: italic;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: blue;
        }
    </style>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
</body>

</html>
